/*General*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Montserrat';
  font-size: 16px;
  color: #33475b;
  font-weight: 400;
}

/*Utilities*/
.container {
  width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
  display: inline-block;
}

.color-hub {
  color: #33475b;
}

.br5 {
  border-radius: 5px;
}

.pad10 {
  padding: 10px;
}

.btn-o {
  background-color: #fe775a;
  color: #ffffff;
}

.btn-o-large {
  background-color: #fe775a;
  color: #ffffff;
  padding: 25px 50px;
}

.w-50 {
  width: 50%;
}
/*Fine Utilities*/

/*Header Nav*/
.header-nav-container {
  background-color: #f4f9fd;
  border-bottom: 1px solid black;
}

.header-nav {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100px;
}

.header-nav-right {
  text-align: right;
  padding-left: 297px;
}

.eng,
.contact,
.search {
  padding-top: 10px;
}

.eng {
  border-right: 1px solid black;
  padding-right: 20px;
}

.contact {
  margin-left: 20px;
}

.search,
.log {
  margin-right: 30px;
}

.search {
  color: #00a4bd;
}

.log {
  background-color: #fafcfe;
  border: 1px solid #fe775a;
  color: #fe775a;
}

.header-nav a:hover,
.header-nav a:active,
.header-nav a:focus {
  color: #f9d28c;
}
/*Fine Header Nav*/

/*Header Nav 2*/
.header-nav2-container {
  background-color: #ffffff;
}

.header-nav2 {
  padding-top: 40px;
  padding-bottom: 30px;
  height: 100px;
}

.header-nav2-right {
  float: right;
  text-align: right;
  padding-left: 115px;
}

.header-logo {
  line-height: 2;
}

.header-nav2 a:hover,
.header-nav2 a:active,
.header-nav2 a:focus {
  color: #f9d28c;
}
/*Fine Header Nav 2*/

/*Jumbotron*/
.main-header {
  height: 800px;
  background-color: #fff4ef;
  background-image: url('../img/jumbotron.png');
  background-size: 1235px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  position: relative;
}

.jumbotron-container {
  height: 430px;
}

.jumbotron {
  position: relative;
  height: 500px;
}

.jumbotron-content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.jumbotron-content h1 {
  font-size: 50px;
}

.jumbo-margin {
  margin-top: 15px;
  margin-bottom: 15px;
}

.strip {
  width: 100%;
  height: 71px;
  background-color: #afebe4;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
  position: absolute;
  top: 91%;
}
